{% load static %} 
{% extends 'base.html' %}
  <div class="right">
    <h2>Biography</h2>
    <img src="{ %static 'img/bio.JPG' %}">
    <p id="demo">
    <script>
        let age=26;
        document.getElementById("demo").innerHTML ="I am Fabien NIYIGABA, firstborn in family of 9 children. I have "+ age +" Years old";
    </script>I like my siblings and our parents. </p> 
  </div>
</div>
  <div class="main">
    <!-- <h2>Gallery</h2> -->
    <!-- <h2 id="name"></h2> -->
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="img/1.jpeg" alt="" width="100%", style="border-radius: 5%;">
        <div class="text">My Banana Plant Farm</div>
      </div>
      <div class="mySlides fade">
        <img src="img/pc.png" alt="" width="100%", style="border-radius: 5%;">
        <div class="text">ICT make our life easy</div>
      </div>
      <div class="mySlides fade">
        <img src="img/car.jpeg" alt="" width="100%", style="border-radius: 5%;">
        <div class="text">Transportation of people and goods.</div>
      </div>
      <div class="mySlides fade">
          <img src="img/2.jpeg" alt="" width="100%", style="border-radius: 5%;">
          <div class="text">My Banana Plant Farm</div>
      </div>
      <div class="mySlides fade">
        <img src="img/2.jpeg" alt="" width="100%", style="border-radius: 5%;">
        <div class="text">My Banana Plant Farm</div>
      </div>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    <script src="lightweight.js"></script>
     <!-- <img src="img/1.jpeg" alt="" width="50%",height="50%", style="border-radius: 5%;"> <img src="img/pc.png" alt="" width="50%",height="50%", style="border-radius: 5%;"><img src="img/car.jpeg" alt="" width="50%",height="50%", style="border-radius: 5%;"> -->
  </div>

  <div class="left">
    <h2>Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  </div>
</div>
<div class="projects">
  <h1>PROJECTS</h1>
  <ul>
<li>
  <a href="idea.html"><img src="img/idea.jpg" alt="" width="30%" style="border-radius: 5%;"></a>
  <h3>Idea Recording System</h3>
</li>
<li>
  <a href="house.html"><img src="img/house.jpg" alt="" width="30%"  style="border-radius: 5%;"></a>
  <h3>House Budgeting System</h3>
</li>
  </ul>
</div>



