<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabien-Home</title>
    <link rel="icon" href="../static/img/bio.JPG">
<head> <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/index.css">

 </head>
<body>
  <body style="font-family:Verdana;color:#ffffff;background-color: rgb(70, 87, 94);">
    <div style="overflow:auto">
  <div class="menu">
   <h1>Fabien NIYIGABA</h1>
   <a href="../index.html">Home</a>
   <a href="#">About Me</a>
   <a href="skills.html">Skills</a>
    <a href="bio.html">Biography</a>
   <a href="#">Contact Me</a>
   <a href="login.html">Login</a>
  </div>
  </div>
  <div class="right" style="width:60%;margin-left:20%;background-color:skyblue;">
    <h2>Biography</h2>
    <img src="../static/img/bio.JPG" alt="" width="50%" height="50%" style="border-radius: 50%;">
    <p id="demo">
    <script>
        let age=26;
        document.getElementById("demo").innerHTML ="I am Fabien NIYIGABA, firstborn in family of 9 children. I have "+ age +" Years old";
    </script>I like my siblings and our parents. </p> 
  </div>

 <div class="main" style="width:60%;margin-left:20%; margin-top:-50%;">
    <h2>Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  </div>
</div>
    <script src="../static/javascripts/slideshow.js"></script>
     <!-- <img src="img/1.jpeg" alt="" width="50%",height="50%", style="border-radius: 5%;"> <img src="img/pc.png" alt="" width="50%",height="50%", style="border-radius: 5%;"><img src="img/car.jpeg" alt="" width="50%",height="50%", style="border-radius: 5%;"> -->
  </div>
</div>
<div class="projects" style="bottom:0;">
  <h1>PROJECTS</h1>
  <div class="p1">
  <figure><a href="idea.html"><img src="../static/img/idea.jpg"></a>
  <figcaption><h3>Idea Recording System</h3></figcaption></figure>
</div>
<div class="p2">
  <figure><a href="house.html"><img src="../static/img/house.jpeg"></a>
 <figcaption><h3>House Budgeting System</h3></figcaption></figure>
</div>
<div class="p3">
  <figure><a href="house.html"><img src="{% static 'img/pc.png' %}"></a>
  <figcaption><h3>RBC User Support System</h3></figcaption></figure>
</div>

<div class="p4">
  <figure><a href="cinemania.html"><img src="../static/img/f.jpg"></a>
<figcaption><h3>Cinemania</h3></figcaption></figure>
</div>
</div>
<div class="footer" style="background-color:rgb(156, 204, 146);text-align:center;padding:10px;bottom:0;position:fixed;height: 10%;width:100%;">©Copyright Fabien 2023</div>
</body>
</html>