<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabien-Register</title>
    <link rel="icon" href="../static/img/bio.JPG">
<head> <link rel="stylesheet" href="../static/css/register.css"> </head>
<body>
  <body style="font-family:Verdana;color:#ffffff;background-color: rgb(70, 87, 94);">
    <div style="overflow:auto">
  <div class="menu">
   <h1>Fabien NIYIGABA</h1>
    <a href="../index.html">Home</a>
      <a href="skills.html">Skills</a>
      <a href="projects.html">Projects</a>
      <a href="bio.html">Biography</a>
      <a href="#">Contact Me</a>
      <a href="login.html">Login</a>
  </div>
  </div>
            <div class="form">
        <form action="">
            <h2>Register here</h2>  
            <input type="text" id="fname" name="firstname" placeholder="First Name" required ><br>
            <input type="text" id="mdname" name="mdname" placeholder="Middle Name" required><br>
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required>   ,<br>
            <label for="">Date of birth </label><br>
            <input type="date" name="dob" id="dob" placeholder="Date Of Birth" required><br>
            <input type="text" id="phone" name="phonenumber" placeholder="Phone Number" required><br>
            <input type="text" id="Address" name="Address" placeholder="Address" required><br>
            <input type="text" id="username" name="username" placeholder="UserName" required ><br>
            <input type="password" placeholder="Password" name="psw" required><br>
            <input type="submit" value="Register" required>
        </form>
        <label for="">Already have an account? <strong><a href="login.html">SignIn</a></strong></label>
    </div>
    <div class="footer" style="background-color:rgb(156, 204, 146);text-align:center;padding:10px;margin-top:5%;height: 10%;">©Copyright Fabien 2023</div>
</body>
</html>
