<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabien-Skills</title>
    <link rel="icon" href="../static/img/bio.JPG">
<head> <link rel="stylesheet" href="../static/css/skills.css"> </head>
<body>
  <body style="font-family:Verdana;color:#ffffff;background-color: rgb(70, 87, 94);">
    <div style="overflow:auto">
  <div class="menu">
   <h1>Fabien NIYIGABA</h1>
   <a href="../index.html">Home</a>
   <a href="#">About Me</a>
   <a href="skills.html">Skills</a>
    <a href="bio.html">Biography</a>
   <a href="#">Contact Me</a>
   <a href="login.html">Login</a>
  </div>
  </div>
    <div class="left">
        <h1>MS Office</h1>
        <ul>
            <li><b>Word</b></li>
            <p>Level</p>
            <li><b>Powerpoint</b></li>
            <p>Level</p>
            <li><b>Excel</b></li>
            <p>Level</p>
            <li><b>Publisher</b></li>
            <p>Level</p>
            <button type="submit">View Projects</button>
        </ul>
      </div>
      
      <div class="main" style="background-color:skyblue;">
        <h1>Programming</h1>
        <ul>
            <li><b>C/C++</b></li>
            <p>Level</p>
            <li><b>Java</b></li>
            <p>Level</p>
            <li><b>Python</b></li>
            <p>Level</p>
            <li><b>JavaScript</b></li>
            <p>Level</p>
            <button type="submit">View Projects</button>
        </ul>
      </div>
      
      <div class="right">
        <h1>Web Development</h1>
        <ul>
            <li><b>HTML5</b></li>
            <p>Level</p>
            <li><b>CSS</b></li>
            <p>Level</p>
            <li><b>JavaScript</b></li>
            <p>Level</p>
            <li><b>Django</b></li><br>
            <button type="submit">View Projects</button>
        </ul>
      </div>
      <div class="right1">
        <h1>Database</h1>
        <ul>
            <li><b>Ms Access</b></li>
            <p>Level</p>
            <li><b>SQL</b></li>
            <p>Level</p>
            <li><b>MySQL</b></li>
            <p>Level</p>
            <li><b>Django</b></li>
            <p>Level</p>
            <button type="submit">View Projects</button>
        </ul>
      </div>
      <div class="right2">
        <h1>Multimedia</h1>
        <ul>
            <li><b>Photo Editing</b></li>
            <p>Level</p>
            <li><b>Video Production</b></li>
            <p>Level</p>
            <li><b>Flyers Design</b></li>
            <p>Level</p>
            <li><b>Script Editing</b></li>
            <p>Level</p>
            <button type="submit">View Projects</button>
        </ul>
      </div>
      <div class="footer" style="background-color:rgb(156, 204, 146);text-align:center;padding:10px;margin-top:5%;height: 10%;">©Copyright Fabien 2023</div>
    </body>
    </html>